# Add any directories, files, or patterns you don't want to be tracked by version control
.idea

# ignore vs code project config files
.vs

# ignore logs
logs
*.log

# ignore 3rd party lib
node_modules

# ignore key
*.pem

# Ignore built files
build
dist

# ignore test converage
coverage

# Environment varibles
*.env
*.env.test
*.env copy

#keys
keys/*.pem

#temp
temp
.DS_Store

*.save
*.save.*

# ignore lock
*.lock
package-lock.json

README.ex.md

#frontend

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
