.layout {
  min-height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 10px;
  }

  .content {
    padding: 24px;
    background: #fff;
    min-height: 280px;
  }

  .footer {
    text-align: center;
    background-color: #f0f2f5;
    padding: 20px 0;
  }
}
